* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    }
    

/* h4{
    margin-left: 20px;
    color: rgb(13, 66, 134);
    margin-bottom: 8px;
    text-align: left;  
} */

.col-md-12{
    margin-left: 20px;
    color: rgb(13, 66, 134);
    margin-bottom: 8px;
    text-align: left; 

}

.container1 {
	background-color: rgba(22, 228, 235, 0.39);
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position:absolute;
	overflow: hidden;
	width: 400px;
	max-width: 50%;
	min-height: 100px;
  margin: -20px 0px 50px 80px;
  padding: 30px 50px 20px 90px;
}

.home_text{
    margin-left: 20px;
    margin-right: 40px;
    color: rgb(134, 13, 13);
    margin-bottom: 8px;
    text-align: left; 
    text-align:justify;
}

.home_text2 {
    text-align: right;
  
    color: rgb(40, 16, 148);
    margin-bottom: 1px;
    margin-right: 40px;
   

}

.signup_home:hover {
    color: #1100ff;
  }
 
  .signup_home {
    
    color: #fd0707;
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  .signin_home:hover {
    color: #1100ff;
  }
  
  .sign_home {
    
    color: #fd0707;
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  
  .para1{
    color: black;
  }
  