* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    }
    
    body {
      height: 100vh;
      
      background-size: cover;
      background-attachment: fixed;
      
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    }
   
    
    .my-card-1 {
     
      background-color: white;
      width: 600px;
      height: 620px;
      margin: 10px auto;
     margin-bottom: 100px;
     margin-top: 50px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.301);
    }
    
    label,
    input,
    button {
      display: block;
    }
    
    label {
      margin-top: 20px;
    }
    
    input {
      margin-top: 5px;
      padding: 8px 20px;
      border-radius: 20px;
      border: none;
      box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.301);
      width: 85%;
    }
    
    input:focus {
      outline: none;
      background-color: rgba(3, 30, 179, 0.445);
    }
   
    button:hover {
      background-color: white;
      color: blueviolet;
      border: 1px solid blueviolet;
    }
    
    .title {
      text-align: center;
    }
  
    