* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  }
  
  body {
    height: 100vh;
   background-color:lemonchiffon;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }

  .mycard-1{
    
    background-color: rgba(61, 199, 158, 0.726);
    width: 500px;
    /* margin: 0px ; */
    margin-bottom: 150px;
    margin-top: 100px;
    margin-left: -100px;
    padding: 50px 80px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.301);
  }
  
  label,
  input,
  button {
    display: block;
  }
  
  label {
    margin-top: 20px;
  }
  
  input {
    margin-top: 5px;
    padding: 20px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.301);
    width: 85%;
  }
  
  input:focus {
    outline: none;
    background-color: rgba(144, 160, 255, 0.445);
  }
 
  button:hover {
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
  }
  
  .title {
    text-align: center;
  }

  .text-center{
    font-weight: bold;
  }

  .button_submit2{
    color:rgb(31, 6, 190);
    padding: 5px ;
  margin: 0px 90px;
   
     border-radius: 5px;
   }
   