* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  }

.cartscreen {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
  
}

.cartscreen h2 {
  margin-bottom: 1rem;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  padding: 1rem;
}

.cartscreen__right {
  flex: 0.3;
  background: rgba(150, 236, 157, 0.808);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.541);
  height: fit-content;
  border-radius: 4px;
  margin: 20px;
}

.cartscreen__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  padding: 1rem;
}

.cartscreen__info p {
  padding: 8px;
}

.cartscreen__info p:first-child {
  font-weight: bold;
}

.cartscreen__right div:last-child {
  border: none;
}

.cartscreen__right div button {
  padding: 10px 17px;
  width: 100%;
  background: rgba(255, 255, 255, 0.973);
  color: #000000;
  border: 1px solid rgba(255, 210, 210, 0.61);
  cursor: pointer;
}

.cartscreen__right div button:hover {
  opacity: 0.9;
  color:rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.808);

}
.rupay{
  color:rgb(35, 89, 236);
  font-weight: bold;
}
@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}
