* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  }

.productscreen {
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
}

.productscreen__left {
  display: flex;
  flex: 0.8;
  font-weight: 500;
}

.left__image {
  margin: 1rem;
  flex: 0.6;
}

.left__info {
  margin: 1rem;
  flex: 0.4;
  background: #fff;
  height: fit-content;
  font-size: 0.9rem;
}

.left__name {
  font-weight: bold;
  font-size: 1.3rem;
}

.left__info > p,
.right__info > p {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  
}

.rupa{
  font-weight: 900;

}

.left__info > p:last-child,
.right__info > p:last-child {
  border: none;
}

.productscreen__right {
  flex: 0.2;
}

.right__info {
  width: 250px;
  margin: 1rem;
  background: rgba(150, 236, 157, 0.808);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  font-weight: bold;
}

.right__info p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right__info p > button {
  grid-column: 1/-1;
  width: 100%;
  padding: 10px 16px;
  background: #fcfcfcc0;
  color: #000000;
  border: 1px solid #f3f3f381;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.right__info p > button:hover{
  color:rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.514);
}
.qty_color{
   background-color: #fcfcfcc0;
   color: rgb(55, 0, 255);
   border-color: #fcfcfcc0;
}

.right__info select {
  padding: 10px 16px;
}

@media (max-width: 960px) {
  .productscreen {
    flex-direction: column;
  }

  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
  }

  .left__info {
    flex: 1;
  }

  .productscreen__right {
    flex: 1;
    padding: 1rem;
  }

  .right__info {
    width: 100%;
    margin: 0;
  }
}
